.bg{
    background-image: url("IMG-0011.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home{
    text-align: center;
    color: #C39BD3;
    text-shadow: 2px 2px 4px black;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.huggy{
    background-image: url("GETA URL:!)

}